.minesweeper {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: monospace;
}

.gameState {
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameState button {
  margin: 16px;
}

.gameState span {
  font-size: 14px;
  padding-right: 12px;;
}

.controls {
  margin: 20px;
  font-size: 14px;
}

.row {
  display: flex;
}

.tile {
  display: block;
  height: 35px;
  width: 35px;
  border: 1px solid #777;
  font-size: 18px;
  line-height: 35px;
  box-sizing: border-box;
  background-color: #d3d3d3;
  border: 1px solid #a1a1A1;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tile.mine-count0 {
  font-size: 0;
}

.tile.mine-count1 {
  color: blue;
}

.tile.mine-count2 {
  color: darkgreen;
}

.tile.mine-count3 {
  color: red;
}

.tile.mine-count4 {
  color: darkblue;
}

.tile.mine-count5 {
  color: maroon;
}

.tile.mine-count6 {
  color: cadetblue;
}

.tile.mine-count7 {
  color: black;
}

.tile.mine-count8 {
  color: fuchsia;
}

.gameOver {
  font-size: 22px !important;
}

.hiddenTile {
  font-size: 0px;
  background-color: #A7A7A7;
  border-left: 2px solid #FFF;
  border-top: 2px solid #FFF;
  border-right: 1px solid #686868;
  border-bottom: 1px solid #686868;
}

.hiddenTile.pressed {
  border-left: none;
  border-top: none;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

.flaggedTile {
  font-size: 22px !important;
  background-color: #A7A7A7;
}
